<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjj.qlemusic.portal.dao.UmsUserSetDao">
    <select id="selectUserById" resultType="UmsUser">
        select
            telephone,password,salt
        from
            ums_user
        where
            id=#{userId}
    </select>
    <update id="updatePassword">
        update
            ums_user
        set
            password=#{newPassword},
            salt=#{salt}
        where
            id=#{userId}
    </update>
    <select id="selectTelephoneById" resultType="java.lang.String">
        select
            telephone
        from
            ums_user
        where
            id=#{userId}
    </select>
    <update id="updateTelephone">
        update
            ums_user
        set
            telephone=#{newTelephone}
        where
            id=#{userId}
    </update>
    <select id="selectUserByNewTelephone" resultType="java.lang.Long">
        select
            id
        from
            ums_user
        where
            telephone=#{newTelephone}
    </select>
</mapper>